@keyframes text {
    from {
        margin-left: -100px;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes image {
    from {
        margin-right: -100px;
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}