* {
    border: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}


.container {
    position:absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition:all 0.3s;
}

.container .main {
    position: absolute;
    font-size: 70px;
    color: rgba(0,0,0,0.4);
    max-width: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    cursor: pointer;
    border-right: .15em solid orange;
    animation: typing 3.5s steps(30, end),blink-caret .5s step-end infinite;
    overflow: hidden;
    white-space: nowrap;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
@keyframes blink-caret {
   from, to { border-color: transparent }
   50% { border-color: orange }
}

.container .second {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgba(0,0,0,0.0);
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
}
    
.container .main:hover {
    color: rgba(0,0,0,1);
}

.container .main:hover ~ .second {
    color: rgba(0,0,0,0.5);
}

/*input*/

.inputfor {
    display:none;
}

.labelfor::before {
    position: absolute;
    content: "☀";
    color:rgba(0,0,0,0.3);
    font-size: 50px;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 2;
}

.labelfor:hover {
    color:rgba(0,0,0,0.5);
}

.inputfor:checked ~ .labelfor::before {
    color:rgba(0,0,0,0.5);
    content: "☾";
}

.inputfor:checked ~ .container {
    background-color: #292929;
}
