* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 100;
    scroll-behavior: smooth;
}

/* body */

body {
    overflow-y: hidden;
}

*::-webkit-scrollbar{
    display: none;
}

/* wrapper */

.wrapper {
	scroll-snap-type: x mandatory;	
	display: flex;
	-webkit-overflow-scrolling: touch;
	overflow-x: scroll;
}

.wrapper section {
	padding: 1rem;
	min-width: 100vw;
	height: 100vh;
    background-color: black;
	scroll-snap-align: center;
	position: relative;
}

/* title */

.wrapper section .title {
    position: absolute;
    width: fit-content;
    height: fit-content;
    bottom: 100px;
    left: 100px;
    border-left: 2px solid white;
}

.wrapper section .title h1 {
    color: white;
    font-size:200px;
    transition: 0.3s;
    margin-left: 3%;
    animation: 1s ease-in 0s 1 slideTitle;
}

@keyframes slideTitle {
    from {
        transform: translate(100px);
    }
    to {
        transform: translate(0%);
    }
}

.wrapper section .title h3 {
    color: black;
    width: 100%;
    background-color:#FFCB3A;
    font-size: 60px;
    transition: 0.3s;
    margin-left: 3%;
    margin-bottom: 3%;
}

/* link */

.wrapper section .link {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 20px;
    left: 20px;
}

.wrapper section .link a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.wrapper section .link::after {
    top: 50px;
}

/* menu */

.wrapper section .menu {
    position: fixed;
    width: fit-content;
    height: fit-content;
    right: 100px;
    top: 100px;
    padding: 20px;
    border-right: 1px solid white;
    transition: 0.3s;
    z-index: 100;
}

.wrapper section .menu ul {
    list-style-type:none;
}

.wrapper section .menu ul li {
    padding: 10px;
}

.wrapper section .menu ul .li1 {
    animation: 0.5s ease-in 0s 1 slideA;
}

.wrapper section .menu ul .li2 {
    animation: 1s ease-in 0s 1 slideA;
}

.wrapper section .menu ul .li3 {
    animation: 1.5s ease-in 0s 1 slideA;
}

@keyframes slideA {
    from {
        transform: translate(-100px);
    }
    to {
        transform: translate(0px);
    }
}
	
.wrapper section .menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    transition: all 0.1s;
}

.wrapper section .menu ul li a::after {
    content: "";
    display: block;
    height: 2px;
    background-color: white;
    transform: scale(0,1);
    transform-origin: center;
    transition: transform .25s;
}

.wrapper section .menu ul li a:hover:after {
    transform: scale(1,1);
}

/* Marquee */

.wrapper section .title .mymarquee {
    color: white;
    width: 700px;
    font-size: 80px;
    font-weight: 900;
    padding: 5px;
}

/* button */

.wrapper section .button {
    position: absolute;
    padding: 10px 40px 10px 40px;
    color: white;
    border: 2px solid white;
    bottom: 100px;
    right: 100px;
    text-decoration: none;
    font-weight: 900;
    transition: color 0.3s;
    transform: perspective(1px) translateZ(0);
}

.wrapper section .button:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: white;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.3s ease-out;
}

.wrapper section .button:hover {
    color: black;
}
.wrapper section .button:hover:before {
    transform: scaleX(1);
}

/* About */

.wrapper .aboutme .about {
    position: absolute;
    width: fit-content;
    height: fit-content;
    top: 50px;
    left: 50px;
    border-left: 2px solid white;
    border-top: 2px solid white;
}

.wrapper .aboutme .about h1 {
    color: white;
    font-size: 100px;
    padding: 20px;
}


/* Media querys */

/* Vertical mobile */

@media screen and (min-width:0px) and (max-width:768px) {
    .wrapper section .link a {
        font-size: 15px;
    }
    .wrapper section .title h1 {
        font-size: 60px;
    }
    
    .wrapper section .title h3 {
        font-size: 22px;
    }
    .wrapper section .title {
        bottom: 20%;
        left: 10px;
    }
    .wrapper section .menu {
        right: 10px;
    }
    .wrapper section .menu ul li a {
        font-size: 20px;
    }
    .wrapper .aboutme .about {
        top: 10px;
        left: 10px;
    }
    .wrapper .aboutme .about h1 {
        font-size: 50px;
    }
    .wrapper section .title .mymarquee {
        font-size: 30px;
        width: 270px;
    }
    .wrapper section .button {
        bottom: 0px;
        width: 100%;
        left: 0px;
    }
}

/* Horizontal mobile */

@media screen and (max-height:500px) {
    .wrapper section .title h1 {
        font-size: 70px;
    }
    
    .wrapper section .title h3 {
        font-size: 25px;
    }
    .wrapper .aboutme .about {
        top: 10px;
        left: 10px;
    }
    .wrapper .aboutme .about h1 {
        font-size: 60px;
    }
    .wrapper section .title {
        bottom: 20%;
        left: 10px;
        border-bottom: 0px;
    }
    .wrapper section .menu {
        right: 10px;
    }
    .wrapper section .menu ul li a {
        font-size: 20px;
    }
}
