*{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-weight: 500;
}

html{
	scroll-behavior: smooth;
}

body{
    background-color: #191919;
}

.title-center{
    width: 226px;
    height: 120px;
    position: absolute;
    display: flex;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title-center h1{
    position: absolute;
    color: white;
    font-size: 100px;
    display: flex;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.title-center .dot {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 100px;
    right:0%;
}

.contacts{
    position: absolute;
    width: 180px;
    height: 20px;
    top:5%;
    left:3%;
    z-index: 1;
}

.contacts a{
    position: relative;
    text-decoration: none;
    color:white;
}

.contacts a:hover{
    top:10%;
}

.courtain {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #dd6b4d;
    transition: left 1s;
    left: -10000px;
}

.courtain-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #007065;
    transition: left 1.4s;
    left: -10000px;
}

.courtain-3 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F3AC3C;
    transition: left 1.8s;
    left: -10000px;
}

.title-center:hover ~ .courtain {
    left: 0px;
}

.title-center:hover ~ .courtain-2 {
    left:0px;
}

.title-center:hover ~ .courtain-3 {
    left:0px;
}
