*{
	margin: 0px;
	padding: 0px;
	font-family: Arial;
	font-weight: 500;
}

html{
	scroll-behavior: smooth;
}

/*Pantalla-de-carga*/


#contenedor_carga{
	background-color: #191919;
	height: 100%;
	width: 100%;
	position: fixed;
	-webkit-transtion: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
	z-index: 10000;
}

#carga{
	border: 15px solid #ccc;
	border-top-color: #191919;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	-webkit-animation: girar 1.5s linear infinite;
	-o-animation: girar 1.5s linear infinite;
	animation: girar 1.5s linear infinite;
}

@keyframes girar {
	from { transform: rotate(0deg)}
	to { transform: rotate(360deg);}
}

/*Principal-title-and-list*/

.container {
	position: fixed;
	width: 100%;
	height: 100%;
	background:#191919;
}

.container .title-center{
	position: absolute;
	color: white;
	text-align: center;
	text-transform: uppercase;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%);
	cursor:pointer;
}

.container .title-center .letter-d{
	display: inline-block;
	font-size: 100px;
	transition:cubic-bezier(1, 0, 0, 1) 1s;
}

.container .title-center .letter-a{
	display: inline-block;
	font-size: 100px;
	transition:cubic-bezier(1, 0, 0, 1) 1s;
}

.container .title-center .letter-n{
	display: inline-block;
	font-size: 100px;
	transition:cubic-bezier(1, 0, 0, 1) 1s;
}

.container .title-center .letter-i{
	display: inline-block;
	font-size: 100px;
	transition:cubic-bezier(1, 0, 0, 1) 1s;
}

.container .title-center .letter-i .dot{
	position: absolute;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	background: white;
	top: -5px;
	right: 6px;
	transition:cubic-bezier(1, 0, 0, 1) 1s;
}

.container .sub-line-title{
	position: fixed;
	width: 300px;
	height: 10px;
	background: white;
	left: -1000px;
	top: 510px;
	transition: left 0.5s;
}

.title-center:hover ~ .sub-line-title{
	top: 100;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}


/*contacts*/

.container .contacts{
	position: absolute;
	width: 200px;
	height: 20px;
	top: 60;
	left: 30;
	
}

.container .contacts a{
	position: relative;
	color: white;
	text-decoration: none;
	transition: top 1s;
}

.container .contacts a:hover{
	top: 1;
}

/*menu*/

.menu label{
	position: fixed;
	width: 60px;
	height: 60px;
	background: #191919;
	color: white;
	font-size: 55px;
	border-radius: 100%;
	text-align: center;
	right: 30;
	top: 30;	
	z-index: 100;
	transition:all 1s;
}

.menu .lines{
	position: fixed;
	width: 60px;
	height: 60px;
	background: #191919;
	color: white;
	font-size: 55px;
	border-radius: 100%;
	text-align: center;
	right: 30;
	top: 30;	
	z-index: 99;
}

.menu .lines .line-1{
	position: absolute;
	width: 30px;
	height: 5px;
	background: white;
	transform: rotate(100grad);
	top: 35px;
	left: 15px;
	transition: top 0.3s;
	z-index: 99;
}

.menu .lines .line-2{
	position: absolute;
	width: 30px;
	height: 5px;
	background: white;
	transform: rotate(100grad);
	top: 20px;
	left: 15px;
	transition: top 0.3s;
	z-index: 99;
}

.menu .lines .line-3{
	position: absolute;
	width: 30px;
	height: 5px;
	background: white;
	right: 2px;
	top: 30px;
	transition: right 0.3s;
	z-index: 99;
}

.menu .lines .line-4{
	position: absolute;
	width: 30px;
	height: 5px;
	background: white;
	left: 2px;
	top: 30px;
	transition: left 0.3s;
	z-index: 99;
}

.checkbox {
	display: none;
}

label:hover ~ .lines .line-4{
	background: white;
	left: -10px;
	z-index: 100;
}

label:hover ~ .lines .line-3{
	background: white;
	right: -10px;
	z-index: 100;
}

label:hover ~ .lines .line-2{
	background: white;
	top: 5px;
	z-index: 100;
}

label:hover ~ .lines .line-1{
	background: white;
	right: -50px;
	top: 50px;
	z-index: 100;
}

.menu .left-panel1 {
	position: fixed;
	width: 100%;
	height: 100%;
	right: -10000px;
	background: #dd6b4d;
	transition: right 0.5s;
	z-index: 98;
}

.menu .left-panel2 {
	position: fixed;
	width: 100%;
	height: 100%;
	right: -10000px;
	background: #007065;
	transition: right 1s;
	z-index: 98;
}

.menu .left-panel3 {
	position: fixed;
	width: 100%;
	height: 100%;
	right: -10000px;
	background: #F3AC3C;
	transition: right 1.5s;
	z-index: 98;
}

.checkbox:checked ~ .left-panel1{
	right:0px;
}

.checkbox:checked ~ .left-panel2{
	right:0px;
}

.checkbox:checked ~ .left-panel3{
	right:0px;
}

.menu .left-panel3 a{
	position: relative;
	font-size: 50px;
	font-weight: 0;
	cursor: pointer;
	text-decoration: none;
	color: #F9E492;
	transition: all 0.3s;
	border-radius: 10px;
	display: flex;
	align-items: center;
	margin-top: 100px;
	justify-content:  center;
}

.menu .left-panel3 a:hover{
	color: black;
	margin-left: -5%;
}

label:hover{
	transform: rotate(200grad);
}

/*segundo-container*/

#second-container {
	position: absolute;
	width: 100%;
	height: 3000px;
	background: #1A4341;
	top: 100%;
}

/*about-me*/

#second-container .about-me{
	position: relative;
	width: 90%;
	height: 250px;
}

#second-container .about-me h1{
	position: absolute;
	top: 20px;
	left: 30px;
	color: rgba(0,0,0,0.4);
	
}


#second-container .about-me h2{
	position: absolute;
	width: 580px;
	height: 100px;
	top: 90px;
	left: 60px;
	color: white;
	background: rgba(0,0,0,0.1);
	border-radius: 10px;
	font-size: 25px;
	width: 90%;
}


/*adaptación-pantalla*/

@media screen and (max-width: 360px){
	
}

@media screen and (max-width: 800px){

	

	.container .title-center{
	position: absolute;
	color: white;
	width: 300px;
	text-align: center;
	text-transform: uppercase;
	left: 50%;
	top: 50%;
	transform: translateX(-50%) translateY(-50%) scale(0.8);
	cursor:poi
	nter;
	}

	.container .title-center .letter-i .dot{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 100%;
	background: white;
	top: -5px;
	right: 28px;
	}

	.title-center:hover ~ .sub-line-title{
	left: 20%;
	}

	#second-container .contenedor-lenguajes .html{
		position: absolute;
		width: 80%;
		height: 40%;
		background-color: white;
		border-radius: 10px;
		right:0;
		left:0;
		bottom: 0;
		top: -170px;
		margin:auto;
		transition: all 0.3s;
		display:inline-block;
	}

	#second-container .contenedor-lenguajes .css{
		position: absolute;
		width: 80%;
		height: 40%;
		background-color: white;
		border-radius: 10px;
		right:0;
		left:0;
		bottom: -170px;
		top: 0;
		margin:auto;
		transition: all 0.3s;
		display:inline-block;
	}

	#second-container .contenedor-lenguajes {
		position: relative;
		width: 90%;
		height: 100px;
		background: rgba(0,0,0,0.1);
		border-radius: 10px;
		right:0;
		left:0;
		bottom: 0;
		top: 0;
		margin:auto;
	}

	#second-container .about-me h2{
		position: absolute;
		width: 580px;
		height: 100px;
		top: 90px;
		left: 30px;
		color: white;
		background: rgba(0,0,0,0.1);
		border-radius: 10px;
		font-size: 20px;
		font-weight: 1;
		width: 90%;
		border-left: 20px solid  rgba(0,0,0,0.0);
		border-top: 20px solid  rgba(0,0,0,0.0);
	}

	.title-lenguajes-html-css {
		position: absolute;
		width: 100%;
		height: 100px;
		margin-bottom: 30px;
	}
	
	.title-lenguajes-html-css{
		position: relative;
		top: 20px;
		left: 30px;
		color: rgba(0,0,0,0.4);
	}

	#second-container .proyects{
		position: relative;
		width: 100%;
		height: 300px;
		background: rgba(0,0,0,0.1);
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin:auto;
		border-radius: 10px;
		overflow:hidden;
	}

	.proyect-2{
		position: absolute;
		width: 200px;
		height: 200px;
		transform: scale(0.3);
		right: 0;
		left: 30%;
		top: 0;
		bottom: 60;
		margin:auto;
	}

}

/*contactame*/

#second-container  form{
	width: 500px;
	margin: auto;
	background: rgba(0,0,0,0.1);
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 40px;
	border-radius: 7px;
	transition: all 0.4s;
}

#second-container form:hover {
	box-shadow: 10px 10px 0px 0px #191919;
}

#second-container form h2{
	color: white;
	text-align: center;
	margin-bottom: 10px;
}

#second-container form input, textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px;
	border-radius: 7px;
	box-sizing: border-box;
}

#second-container form textarea{
	min-height: 100px;
	max-height: 100px;
	min-width: 100%;
	max-width: 100%;
}

#second-container form #boton{
	background-color: #31384A;
	color: white;
	padding: 20px;
}

#second-container form #boton:hover{
	cursor: pointer;
}

@media (max-width:800px){
	#second-container form{
		width: 80%;
	}
}

/*contenedor-lenguajes*/

#second-container .contenedor-lenguajes{
	position: relative;
	width: 90%;
	height: 400px;
	background: rgba(0,0,0,0.1);
	border-radius: 10px;
	right:0;
	left:0;
	bottom: 0;
	top: 0;
	margin:auto;
}

.contenedor-lenguajes .html{
	position: absolute;
	width: 40%;
	height: 50%;
	background-color: white;
	border-radius: 10px;
	right:-50%;
	left:0;
	bottom: 0;
	top: 0;
	margin:auto;
	transition: all 0.3s;
	display:inline-block;
}

.contenedor-lenguajes .html:hover{
	box-shadow: 10px 10px 0px 0px #191919;
	bottom: 10px;
}

.contenedor-lenguajes .css:hover {
	box-shadow: 10px 10px 0px 0px #191919;
	bottom: 10px;
}

.contenedor-lenguajes .css{
	position: absolute;
	width: 40%;
	height: 50%;
	background-color: white;
	border-radius: 10px;
	right:0;
	left:-50%;
	bottom: 0;
	top: 0;
	margin:auto;
	transition: all 0.3s;
	display:inline-block;
}

.contenedor-lenguajes .html .img-html{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: white;
	right:60%;
	left:0;
	bottom: 0;
	top: 0;
	margin:auto;
	overflow: hidden;
	box-shadow: 5px 5px 5px 1px #191919;
}

.contenedor-lenguajes .html .text-html{
	position: absolute;
	width: 200px;
	height: 100px;
	right:0;
	left:30%;
	bottom: 0;
	top: 0;
	margin:auto;
	transform: scale(0.9);
	color: rgba(0,0,0,0.9);
}

.contenedor-lenguajes .css .img-css{
	position: absolute;
	width: 100px;
	height: 100px;
	border-radius: 100%;
	background: white;
	right:60%;
	left:0;
	bottom: 0;
	top: 0;
	margin:auto;
	overflow: hidden;
	box-shadow: 5px 5px 5px 1px #191919;
}

.contenedor-lenguajes .css .text-css{
	position: absolute;
	width: 200px;
	height: 100px;
	right:0;
	left:30%;
	bottom: 0;
	top: 0;
	margin:auto;
	transform: scale(0.9);
	color: rgba(0,0,0,0.9);
}

/*title-lenguajes*/

.title-lenguajes-html-css {
	position: relative;
	width: 70%;
	height: 100px;
	top: 20px;
	left: 30px;
	color: rgba(0,0,0,0.4);
}



/*Proyectos*/

.proyects{
	position: relative;
	width: 85%;
	height: 300px;
	background: rgba(0,0,0,0.1);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	border-radius: 10px;
	overflow:hidden;
}

#second-container .title-proyects{
	position: relative;
	width: 70%;
	height: 100px;
	top: 20px;
	left: 30px;
	color: rgba(0,0,0,0.4);
	margin-top: 60px;
}


.proyects .first-proyect{
	position: absolute;
	display: inline-block;
	width: 80%;
	height: 200px;
	background-color: white;
	border-radius: 10px;
	left: -10000;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	transition: right 0.4s;
	transition: all 0.4s;
}


.proyects .second-proyect{
	position: absolute;
	display: inline-block;
	width: 80%;
	height: 200px;
	background-color: white;
	border-radius: 10px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin:auto;
	transition: right 0.5s;
	transition: all 0.5s;
}

.second-proyect:hover{
	box-shadow: 10px 10px 0px 0px #191919;
}

.proyects .third-proyect{
	position: absolute;
	display: inline-block;
	width: 80%;
	height: 200px;
	background-color: white;
	border-radius: 10px;
	left: 0;
	right: -10000px;
	top: 0;
	bottom: 0;
	margin:auto;
	transition: right 0.4s;
	transition: all 0.4s;
}

#proyectos .proyects .third-proyect .proyect-3{
	position: absolute;
	width: 200px;
	height: 200px;
	transform: scale(0.8);
	right: 0;
	left: 30%;
	top: 0;
	bottom: 60;
	margin:auto;
}

#proyectos .proyects .third-proyect .title-third-proyect{
	position: absolute;
	width: 200px;
	height: 110px;
	right: 30%;
	left: 0;
	top: 0;
	bottom: 0;
	margin:auto;
}

#proyectos .proyects .second-proyect .title-second-proyect{
	position: absolute;
	width: 200px;
	height: 110px;
	right: 30%;
	left: 0;
	top: 0;
	bottom: 0;
	margin:auto;
}

#proyectos .proyects .first-proyect .title-first-proyect{
	position: absolute;
	width: 200px;
	height: 110px;
	right: 30%;
	left: 0;
	top: 0;
	bottom: 0;
	margin:auto;
}

.left-arrow:hover ~ .first-proyect {
	left: 0;
	box-shadow: 10px 10px 0px 0px #191919;
}

.left-arrow:hover ~ .second-proyect {
	right: -10000;
	box-shadow: 10px 10px 0px 0px #191919;
}

.right-arrow:hover ~ .second-proyect {
	left: -10000;
	box-shadow: 10px 10px 0px 0px #191919;
}

.right-arrow:hover ~ .third-proyect {
	right: 0;
	box-shadow: 10px 10px 0px 0px #191919;
}

.proyects .left-arrow{
	position: absolute;
	width: 40px;
	height: 50px;
	color:rgba(0,0,0,0.5);
	top:0;
	left: 0;
	right: 93%;
	bottom: 0;
	margin:auto;
	cursor:pointer;
	z-index: 1;
}
.proyects .right-arrow{
	position: absolute;
	width: 40px;
	height: 50px;
	color:rgba(0,0,0,0.5);
	top:0;
	left: 95%;
	right: 0;
	bottom: 0;
	margin:auto;
	cursor:pointer;
	z-index: 1;
}


/*soap*/

#proyectos .proyects .first-proyect .proyect-1{
	position: absolute;
	width: 200px;
	height: 200px;
	transform: scale(0.8);
	right: 0;
	left: 30%;
	top: 0;
	bottom: 60;
	margin:auto;
}

#proyectos .proyects .first-proyect .proyect-1 .soap {
    position: relative;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    background: #FE5F55;
    top: 82px;
    left: 92px;
    z-index: 1
    
  }
  #proyectos .proyects .first-proyect .proyect-1 .soap .insrectangle {
    position: relative;
    width: 140px;
    height: 40px;
    border-radius: 100px;
    background:#A64942;
    top: 30px;
    left: 30px;
  }
  
  #proyectos .proyects .first-proyect .proyect-1 .shadow {
    position: relative;
    width: 200px;
    height:72px;
    background:#A64942;
    border-radius: 20px;
    top: 30;
    left:92;
    
    
  }

  /*cloud*/

  #proyectos .proyects .second-proyect .proyect-2{
	position: absolute;
	width: 200px;
	height: 200px;
	transform: scale(0.8);
	right: 0;
	left: 30%;
	top: 0;
	bottom: 60;
	margin:auto;
}

  .downpart {
    position: relative;
    width: 170px;
    height: 50px;
    border-radius: 100px;
    background: #D86F45;
    top: 157px;
    left: 120px;
    
  }
  
  .rightcircle {
    position: relative;
    width: 109px;
    height: 100px;
    background: #D86F45;
    border-radius: 100%;
    top: 57px;
    left: 95px;
  }
  
  .leftcircle {
    position: relative;
    width: 100px;
    height: 100px;
    background: #D86F45;
    border-radius: 100%;
    bottom: 78px;
    left: 190px;
  }

/*proyect-circle-with-mountains*/

.outcircle {
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background: #FFF1C1;
    top: 42px;
    left: 92px;
   	overflow: hidden;
}
  
  .first-mountain{
    position: absolute;
    background: #FE5F55;
    width: 198px;
    height: 200px;
    transform: rotate(50grad);
    top: 100;
    left: 42px;
    
}
  
  .second-mountain{
    position: absolute;
    background: #FE5F55;
    width: 52px;
    height: 50px;
    transform: rotate(50grad);
    top: 140;
    left: 5px;
}

/*apartado sin poner nada*/

#title-apartado-1{
	position: relative;
	width: 90%;
	height: 50px;
	color:rgba(0,0,0,0.4);
	top: 20px;
	left: 30px;
	margin-top: 30px;
	margin-bottom: 30px;
	
}

.apartado-cosas{
	position:relative;
	width: 85%;
	height: 500px;
	background-color: rgba(0,0,0,0.1);
	border-radius: 10px;
	right:0;
	left: 0;
	top:0;
	bottom: 0;
	margin:auto;
	overflow: hidden;
}

.car{
	position: relative;
	width: 100%;
	height: 10px;
	background: rgba(0,0,0,0.1);
	left: -1000px;
	animation: moverse 1s linear infinite;
}

@keyframes moverse {
	0% {left:0px;};
	25% {right: 0px;};
}


